:root{
    --testColor: aquamarine;
    --testColor2: lightgreen;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.all{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.containerDiv{
    width: 100%;
    height: 85%;
}
.musicPlayerDiv{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
}
.musicPlayerDiv .musicInfoDiv{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    background-color: var(--testColor);
}
.musicInfoDiv .infoDiv{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 4%;
    justify-content: center;
    padding: 0 0 0 8%;
    background-color: var(--testColor2);
}
.musicInfoDiv .infoDiv .songName{
    font-size: 18px;
    font-weight: bold;
}
.musicInfoDiv .infoDiv .artistName{
    font-size: 17px;
    font-weight: bold;
    color: rgb(78, 78, 78);
}
.musicInfoDiv .likeSongDiv{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.likeSongDiv img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* .controlsDiv .mainControlsDiv */